//Colors
$red: #ff0000;
$green: #008000;
$blue: #1976d2;
$grey: #c9c9c9;

//Font-size
@mixin text14 {
  font-size: 14px;
  line-height: 20px;
}

@mixin text20 {
  font-size: 20px;
  line-height: 28px;
}

@mixin text36 {
  font-size: 36px;
  line-height: 42px;
}

// FlexBox
@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  @include flex-align-center;
  flex-direction: column;
}

@mixin flex-column-center-center {
  @include flex-column-center;
  justify-content: center;
}
