@import '../../styles/variables';

.mainPage {
  padding-top: 20px;
  .containerForInputAndButton {
    width: 80%;
    height: 30px;
    margin: 0 auto;
    @include flex-align-center;
    justify-content: space-between;
    input {
      width: 75%;
      height: 100%;
      border-radius: 20px;
      border: 1px solid $blue;
      outline: none;
      padding: 10px;
    }
    button {
      width: 20%;
      height: 100%;
      border-radius: 20px;
      border: 1px solid $blue;
      transition: all 0.35s ease;
      &:hover {
        border-color: $green;
        background: white;
        cursor: pointer;
      }
    }
  }
  ul {
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 20px;
    margin-top: 10px;
    gap: 3vh 3vw;
    @include flex-align-center;
    li {
      margin-bottom: 10px;
    }
  }
}
