@import '../../styles/variables.scss';

.taskBackground {
  @include flex-column-center-center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.7;
  position: fixed;

  .taskContainer {
    z-index: 1;
    @include flex-column-center;
    @include text14;
    padding: 10px;
    max-width: 600px;
    width: 100%;
    height: 300px;
    background-color: $grey;
    border-radius: 15px;
    opacity: 1;

    label {
      @include text20;
      font-weight: 700;
      margin-bottom: 5px;
    }

    input,
    textarea {
      @include text14;
      font-weight: 700;
      width: 80%;
      padding: 5px 15px;
      margin-bottom: 15px;
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 7px;
    }

    textarea {
      font-family: Poppins;
      padding: 10px 15px;
      max-width: 90%;
      height: 80px;
    }
  }

  .controls {
    @include flex-align-center;
    justify-content: space-between;
    width: 250px;

    .button {
      @include text14;
      font-weight: 700;
      width: 120px;
      height: 30px;
      cursor: pointer;
      border-radius: 5px;
      color: $blue;
      background-color: white;
      text-transform: uppercase;
      border-radius: 5px;
      border: 2px solid $blue;
      transition: 0.3s;

      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }

    .cancel {
      border: 2px solid $red;
      color: $red;

      &:hover {
        color: #fff;
        background-color: $red;
      }
    }
  }
}
