@import '../../styles/variables';

.createBoardFormOverlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.createBoardForm {
  position: absolute;
  padding: 35px;
  width: 50vw;
  height: 55vh;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  border: 1px solid $blue;
  border-radius: 25px;
  justify-content: space-between;
  @include flex-column-center;
  @include text36;
  letter-spacing: 1.2px;
  text-align: center;
  @media (max-width: 760px) {
    font-size: 28px;
    line-height: 40px;
  }
  @media (max-width: 550px) {
    font-size: 24px;
    line-height: 32px;
    button {
      font-size: 12px;
    }
  }
  @media (max-width: 380px) {
    font-size: 20px;
    line-height: 28px;
    button {
      font-size: 10px;
    }
  }
}
