@import '../../styles/variables';

.createBoardFormOverlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.createBoardForm {
  position: absolute;
  padding: 35px;
  width: 50vw;
  height: 60vh;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  border: 1px solid $blue;
  border-radius: 25px;
  @include flex-column-center;
  justify-content: space-around;
}
