@import '../../styles/variables';
.board {
  position: relative;
  padding: 10px;
  overflow: hidden;
  row-gap: 10%;
  width: 25vw;
  height: 20vh;
  border: 1px solid $blue;
  border-radius: 20px;
  background: $grey;
  transition: all 0.35s ease;
  color: #000000;
  @include text36;
  @include flex-column-center-center;
  @media (max-width: 760px) {
    width: 38vw;
  }
  @media (max-width: 550px) {
    font-size: 28px;
    line-height: 28px;
  }
  @media (max-width: 440px) {
    font-size: 24px;
    line-height: 24px;
  }
  @media (max-width: 380px) {
    width: 80vw;
    font-size: 28px;
    line-height: 28px;
  }
  &:hover {
    cursor: pointer;
    background-color: white;
    border-color: $green;
    transform: scale(1.1);
  }
  button {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 25px;
    height: 25px;
    outline: none;
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
    transition: all 0.35s ease;
    z-index: 10;
    &:hover {
      cursor: pointer;
      border-color: $red;
      color: $red;
      transform: scale(1.2);
    }
  }
}
