@import '../../styles/variables.scss';

.boardPage {
  @include flex-column-center;
  @include text14;
  max-width: 1920px;
  width: 100%;
  overflow: hidden;
  position: relative;

  h2 {
    margin-top: 20px;
    @include text20;
    text-transform: uppercase;
  }

  .description {
    text-align: center;
    margin-bottom: 10px;
  }

  .columnsContainer {
    display: flex;
    z-index: 1;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    height: 68vh;
    margin: 10px 0;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
