@import '../../styles/variables.scss';

.boardPage {
  position: relative;
  @include text14;
  max-width: 1920px;
  width: 100%;
  overflow: hidden;
  position: relative;

  .infoAboutBoard {
    @include flex-column-center;
  }

  h2 {
    margin-top: 20px;
    @include text20;
    text-transform: uppercase;
  }

  .description {
    text-align: center;
    margin-bottom: 10px;
  }

  .columnsContainer {
    display: flex;
    z-index: 1;
    padding: 10px;
    max-width: 100%;
    gap: 0 25px;
    width: 100%;
    height: 58vh;
    margin: 10px 0;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .errorMessage {
    margin-top: 50px;
  }
}
