.form-auth-page {
    width: 100%;
    height: calc(100vh - 160px);
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.form-auth-page__subtitle {
    color: rgb(180, 184, 193)
}

.form-auth-page__form {
    max-width: 360px;
}